@media only screen and (max-width : 1370px)  
{
    
    .skills, .proyect{
        padding-top: 10px;
        padding-left: 150px;
        height: 450px;
    }
    
    /* ****** INDEX ****** */

    .contenido{
    width:100%;
    display:flex;
    flex-wrap:nowrap;
    height: 420px;

    }
    .title-typed{
        text-align: center;
        margin-top: 1em;
    
    }
    .p-type{
        font-size: 35px;
    }

    .span-type{
        font-size: 42px;
      
    }
    /* ****** FIN INDEX ****** */


    /******* SKILLS ***********/
    .title-mod{
        margin-top: 1em;
        margin-left: 0em;
        font-family: 'Cousine', monospace;
    }



    .title-mod p{
        color: #07a19a;
        font-size: 40px;

    }

    .title-mod span{
        color: #000000;
        font-size: 50px;
        margin-left: 0px;
    }

    .content-skill{
    
        padding: 0px;
    }
    .class-skill{
        width: 65px;
        padding-right:30px;
        
    }


    .class-skill:hover{
        width: 75px;
    }

    .skill-title{
        font-size: 30px;
        transition: opacity 0.3s ease-in-out;
        padding: 0px;
        margin-top: 2em;
        opacity: 1;
    
    }

    /************* END SKILLS *********/

    /*********** PROYECT ***********/

    .card {
        width: 20em;
        height: 10em;
        margin: 0.1em 0.5em;

    }



    .card:hover {
        box-shadow: 0 3px 5px 0 #00d1c7;
        width: 20em;
        height: 10em;

    }

    


    .card-body{
        width: 20em;
        height: 10em;
        margin: 0 auto;

    }

    .card:hover .img-proyect{
        width: 15em;
        margin-left: 30px;

    }

    .img-proyect{
        width: 15em;
        margin-bottom: 2em;
        margin-left: 30px;
        transition: all .3s ease;
    }

    .img-skill{
        width: 2em;
        margin-left: 0.5em;
        margin-top: 1em;
    }
}