#particles-js{
    z-index: -1;
    position: fixed;
    top: 0;
}

.title-mod .span-contact{
    color: #ffffff;
    font-size: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Roboto+Mono:ital,wght@1,300&family=Titillium+Web:wght@400;900&display=swap');
*{
    font-family: 'Martian Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}
.title-mod p{
    color: #00d1c7;
    font-size: 35px;
}

.title-mod span{
    color: #f6f5f0;
    font-size: 45px;
}

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Roboto+Mono:ital,wght@1,300&family=Titillium+Web:wght@400;900&display=swap');
.p-type, .span-type, .redes, .title-mod p, .title-mod span{
    font-family: 'Martian Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}




.p-type{
    color: #fafafa;
    font-size: 45px;
    margin-top: 2em;
}

.span-type{
    color: #00d1c7;
    font-size: 60px;

}

.btn-type{
    background-color: rgba(41, 37, 37, 0.15);
    backdrop-filter: blur(6px);
    color: #fafafa;
    width: 130px;
    transition: all 1s ease;
    height: 40px;
    margin-top: 3em;
    border-radius: 6px;
    box-shadow: 10px 8px 6px -2px #05B7AF;
    -webkit-box-shadow: 10px 8px 6px -2px #05B7AF;
    -moz-box-shadow: 10px 8px 6px -2px #05B7AF;
    


}

.btn-type:hover{
    background: #05B7AF;
    color: #000;
    box-shadow: 2px -3px 0px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px -3px 0px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -3px 0px -10px rgba(0,0,0,0.75);
    font-weight: bolder;
}

.redes{
    color:#ffffff;
    text-align: center;

}

.redes-color{
    color:#05B7AF;
}

body{ 
	background:#1b1919; 
    overflow-x:hidden; 
    overflow-y:hidden;
    font-family: 'Barlow'; 

} 

.contenido, .contenido-right{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    height: 650px;
}

.contenido-min{
    display:flex;
    flex-wrap:wrap;
    height: 100px;
}

.contenido-right .inner p{
    font-family: 'Barlow';
    display: flex;
}

.contenido-right{
    margin-left: 2em;
}

.inner{
    margin:5px;
    flex:1;
    min-width:200px;
    background: transparent;
    padding:20px;
}


.inner-min {
    min-width:130px;
    background: transparent;
}

.inner-min p, .p-data, .p-print{
    font-family: 'Martian Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    color: #ffffff;
}


.p-data{
    margin-top: 2em;
}

.inner-min .p-print{
    font-size: 40px;
    margin-left: 1em;
}

.close{
    color: #f6f5f0;
    padding-bottom: 0;
    font-size: 35px;
    margin-top: 1em;
}

.inner-card{
    margin:5px;
    margin-top: 3em;
    margin-left: 3em;
    flex:1;
    width:80px;
    background: transparent;

}

.psi, .lic, .abm{
    position: absolute;
    top: 150px;
    margin-left: 3em;
    width:300px;
    text-align: center;
    z-index: -1;
 
}

.title{
    font-size: 15px;

}

.lic{
    left: 40em;
}

.abm{
    left: 67em;
}

.psi{
    left: 12.5em;
}

.img-proyect{
    width: 400px;
    margin-bottom: 1em;
    transition: .6s all;
    margin-top: 5em; 
    margin-left: 2em;
}

.img-proyect:hover{
    width: 370px;
    opacity: 0.1;

}

.img-skill{
    width: 40px; 
    margin-right: 1em; 
}

.p-proyect{
    color: #f6f5f0;
    position: absolute;
    top: 18em;
    left: 11em;
    font-size: 40px;

}
.container {
    display: block;
    margin: 30px;
  }
  
  .card {
    margin: 2%;
    width: 500px;
    height: 150px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-bottom:1em;
    transition: .2s all;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding-top: 30px;
  }
  
 

.content-description{
    opacity: 1;
;
}



.porcent-back, .porcent-front{
    width:20px;
    height: 45px;
    background: #f6f5f0;
    display: flex;
    transition: width 1s, height 2s, margin 0s;
    justify-content: center;
    color: transparent ;
    padding-top: 10px;
    border-radius: 10px;
}

.porcent-back:hover{
    width:16em;
    color:#000;
    font-family: 'Barlow';
    font-size: 20px;   
}

.porcent-front:hover{
    width:10em;
    color:#000;
    font-size: 20px;   
}

.title{
    opacity: 0.8;
    margin:5px;
    min-width:200px;
    padding:20px;
}

h1{
    font-size: 55px;
    color: #ffffff;
    text-align: center;
    padding-top: 240px;
    padding-right: 300px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Unbounded', cursive; 

}


.img-min{
    width: 50px;
    
}

.div-image{
    justify-content: center;
    opacity: 0.8;
    margin:5px;
    min-width:200px;
    padding:20px;
}

.div-image img{
    width: 500px;
    padding-top: 100px;
    padding-left: 300px;

}

.item{
    margin-left: 23em;
    text-align: center;
    padding-top: 60px;
}

.btn-cv{
    margin-left: 13em;
    margin-top: 2em;
}

.btn, .btn-cv{
    width: 149px;
    height: 72px;
    margin-right: 300px;
    padding: 1rem 2rem;
    font-weight: 700;
    background:#b6bfca;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border-radius: .5rem;
    border-bottom: 2px solid #FCE694;
    border-right: 2px solid #FCE694;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top, 
    border-left, 
    border-bottom,
    border-right,
    box-shadow;
}



.btn:hover{
    border-top: 2px solid #FCE694;
    border-left: 2px solid #FCE694;
    border-bottom: 2px solid #FCE694;
    border-right: 2px solid #FCE694;
    box-shadow: rgba(246, 203, 11, 0.4) 5px 5px, rgba(237, 223, 123, 0.3) 10px 10px, rgba(218, 211, 154, 0.2) 15px 15px
}

.info-redes{
    text-align: center;
    padding-top: 2%;

}

.info-redes i{
    margin-right: 30px;
    font-size: 40px;
    color: #f5e9bf;
    position: relative;
    left: 45px;

}

.skills, .proyect, .contact{
    padding-top: 35px;
    padding-left: 300px;
    height: 980px;
}

.proyect, .contact{
    height: 790px;
}


.title-contact{
    color: rgb(255, 255, 255);
    padding-top: 130px;
    padding-bottom: 80px;
    font-size: 70px;
}

.title-contact{
    margin-top: 1em;
    margin-left: 1em;
}

.inner i{
    color: #05b7af;
    font-size: 150px;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.class-skill{
    width: 95px;
    padding-right:40px;
    transition: width 1s, height 1s;  
}

.class-skill:hover{
    width: 120px;
}


.data-base{
   margin-left: 600px;
   padding-top: 50px;
   margin: 0 auto;
}

p{
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 50px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Titillium+Web:wght@400;900&display=swap');
.nav {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-left: -20em;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav span {
  padding: .5em .8em;
  color: rgb(255, 255, 255);
  position: relative;
  text-decoration: none;
  font-size: 20px;

}

.nav span:hover {
    border-bottom: 2px solid #2f3233;
}

.nav p{
    color:#00d1c7;

}

.item-buttom{
    margin-left: 5em; 
    text-align: center;
    padding-top: 60px;
    padding-bottom: 1em;
}

.item-buttom-proyect{
    margin-left: 1em; 
    margin-top: 5em;
}

.item-button-contact{
    margin-left: 10em; 
    margin-top: 1em;
}

.title-proyect{
    padding-top: 3em;
    margin-left: 3em;
    font-size: 70px;
}

.hover{
    display: inline-block;
    margin-left: 2em;
}


.card {

    box-shadow: 0 6px 8px 0 rgba(100, 99, 99, 0.2);
    transition: 0.5s;
    width: 30em;
    padding-bottom: 1em;
    height: 10em;
    margin-left: -10em;
    margin-bottom: 40px;
    background: #1b1919;
  }
  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(245, 235, 146, 0.2);

  }
 
    .container {
    padding: 2px 16px;
  }

  .container p {
    color: #fdfdfd;
    font-size: 60px;
    font-family: 'Barlow';
  }


form{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    border: 1px solid #00d1c7;
    background-color: rgba(41, 37, 37, 0.15);
    backdrop-filter: blur(6px);
    padding-top: 5em;
    margin: 0 auto;
    width: 38em;
    height: 20em;

  }

.formulario{

    margin-left: 22em;


}

input, textarea{
    display: flex;
    width: 30em;
    height: 3em;
    margin-bottom: 1em;
    margin-left: 7em;
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;

}


textarea{
    width:30em;
    height: 100px;
    border: 1px solid #fff

}


input:hover {

    border-radius: 6px;

}
   

   
.cta {
    position: relative;
    margin: auto;
    margin-top: 1em;
    margin-left: 19em;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #0d817b;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #ffffff;
}


.cta:hover:before {
    width: 100%;
    background: #05b7af;

}

   

   
.cta:active {
    transform: scale(0.95);
}
.container p {
    font-size: 18px;
}

.img-min{
  width: 40px;
}



