#particles-js{
    z-index: -1;
    position: fixed;
    top: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Roboto+Mono:ital,wght@1,300&family=Titillium+Web:wght@400;900&display=swap');

.title-mod{
    color: #ffffff;
    font-size: 25px;
    margin-top: 3em;
    margin-left: 4em;
    font-family: 'Cousine', monospace;
}



.title-mod p{
    color: #07a19a;
    font-size: 50px;
    font-family: 'Cousine', monospace;
}

.title-mod span{
    color: #000000;
    font-size: 60px;
    margin-left: 10px;
}


.p-const, .title-mod p, .title-mod span{
    font-family: 'Martian Mono', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Titillium Web', sans-serif;
}

.span-type, .p-type{
    font-family: 'Cousine', monospace;
}


.p-type{
    color: #000000;
    font-size: 45px;
    margin-top: 2em;
}

.span-type{
    color: #07a19a;
    font-size: 55px;
  
}

.btn-type{
    background-color: rgba(41, 37, 37, 0.15);
    backdrop-filter: blur(6px);
    color: #fafafa;
    width: 130px;
    transition: all 1s ease;
    height: 40px;
    margin-top: 3em;
    border-radius: 6px;
    box-shadow: 10px 8px 6px -2px #07a19a;
    -webkit-box-shadow: 10px 8px 6px -2px #07a19a;
    -moz-box-shadow: 10px 8px 6px -2px #07a19a;



}
.item-mobile{
    display: none;
}
.btn-type:hover{
    background: #07a19a;
    color: #000;
    box-shadow: 2px -3px 0px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px -3px 0px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -3px 0px -10px rgba(0,0,0,0.75);
    font-weight: bolder;
}

.p-const{
    color:#000000;
    text-align: center;
    font-size: 25px;

}

.span-redes{
    color:#07a19a;
}

.redes{
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-left: 15em;
}
body{
	background:#1b1919;
    
    font-family: 'Barlow';

}

.contenido, .contenido-right{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    height: 650px;
}

.contenido-min{
    display:flex;
    height: 60px;
}

.inner-p{
    font-family: 'Barlow';

}



 .contenido-right{
    margin-left: 2em;
    margin-top: -2em;
} 

.inner{
    margin:5px;
    flex:1;
    min-width:200px;
    background: transparent;
    padding:20px;
}

.content-inner, .content-inner-fr{
    position: absolute;
    left: 40em;
    top: 17em;
}

.content-inner-fr{
    left: 70em;
}
.inner-min {
    min-width:130px;
    background: transparent;
    
}
.inner-min p{
    font-family: 'Barlow';
    color: #ffffff;
    font-size: 35px;
}




.p-data{
    margin-top: 2em;
    font-family: 'Barlow';
    font-size: 35px;
    color: #ffffff;
}

.inner-min .p-print{
    font-size: 40px;
    margin-left: 1em;
}

.close{
    color: #f6f5f0;
    padding-bottom: 0;
    font-size: 35px;
    margin-top: 1em;
}

.inner-card{
    margin:5px;
    margin-top: 3em;
    margin-left: 3em;
    flex:1;
    width:80px;
    background: transparent;

}

.psi, .lic, .abm{
    text-align: center;
    margin-top: -10em;


}

.title{
    color: #000;
    width: 20%;
    font-size: 15px;
    position: absolute;
    top: -2em;
    left: 1.2em;
    opacity: 0.3;
    transition: all .3s ease;

}

.title-typed{
    text-align: center;
    margin-top: 10em;

}

.lic{
    left: 40em;
}

.abm{
    left: 67em;
}

.psi{
    left: 12.5em;
}

.img-proyect{
    width: 25em;
    margin-bottom: 5em;
    margin-left: 18px;
    transition: all .3s ease;

}



.img-skill{
    width: 3em;
    margin-left: 1.5em;
    opacity: 0.5;
    margin-top: -2em;
    transition: all .3s ease;
}

.p-proyect{
    color: #f6f5f0;
    position: absolute;
    top: 18em;
    left: 11em;
    font-size: 40px;

}
.container {
    display: block;
    margin: 30px;
  }

  .card {
    width: 28em;
    height: 20em;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: .2s all;
    cursor: pointer;
    font-size: 13px;
    padding-top: 30px;
    display: inline-flex;
    background-color: rgba(41, 37, 37, 0.15);
    backdrop-filter: blur(6px);
    margin: 0.2em 0.8em;

  }



  .card:hover {
    box-shadow: 0 3px 5px 0 #00d1c7;
    width: 30em;
    height: 22em;

  }

  .card:hover .img-proyect{
    width: 28em;
    margin-left: 14px;

  }

  .card:hover .title{
    font-size: 16px;
    margin-top: 1em;
    margin-left: 0.2em; 
    opacity: 1;
  }


  .card:hover .img-skill{
    opacity: 1;

  }


  .card-body{
    width: 30em;
    height: 20em;
    margin: 0 auto;

  }


.content-description{
    opacity: 1;
;
}




h1{
    font-size: 55px;
    color: #ffffff;
    text-align: center;
    padding-top: 240px;
    padding-right: 300px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Unbounded', cursive;

}


.img-min{
    width: 50px;

}

.div-image{
    justify-content: center;
    opacity: 0.8;
    margin:5px;
    min-width:200px;
    padding:20px;
}

.div-image img{
    width: 500px;
    padding-top: 100px;
    padding-left: 300px;

}

.item{
    margin-left: 23em;
    text-align: center;
    padding-top: 60px;
}

.btn-cv{
    margin-left: 13em;
    margin-top: 2em;
}

.btn, .btn-cv{
    width: 149px;
    height: 72px;
    margin-right: 300px;
    padding: 1rem 2rem;
    font-weight: 700;
    background:#b6bfca;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border-radius: .5rem;
    border-bottom: 2px solid #FCE694;
    border-right: 2px solid #FCE694;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 1s;
    transition-property: border-top,
    border-left,
    border-bottom,
    border-right,
    box-shadow;
}



.btn:hover{
    border-top: 2px solid #FCE694;
    border-left: 2px solid #FCE694;
    border-bottom: 2px solid #FCE694;
    border-right: 2px solid #FCE694;
    box-shadow: rgba(246, 203, 11, 0.4) 5px 5px, rgba(237, 223, 123, 0.3) 10px 10px, rgba(218, 211, 154, 0.2) 15px 15px
}

.info-redes{
    text-align: center;
    padding-top: 2%;

}

.info-redes i{
    margin-right: 30px;
    font-size: 40px;
    color: #f5e9bf;
    position: relative;
    left: 45px;

}



.skills, .proyect{
    padding-top: 35px;
    padding-left: 250px;
}

.proyect, .skills{
    height: 650px;
}


.title-contact{
    color: rgb(255, 255, 255);
    padding-top: 130px;
    padding-bottom: 80px;
    font-size: 70px;
}

.title-contact{
    margin-top: 1em;
    margin-left: 1em;
}

.inner i{
    color: #0d0e0d;
    font-size: 150px;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.content-skill{
    text-align: center;
    padding: 30px;
}

.class-skill{
    width: 95px;
    padding-right:40px;
    transition: width 0.5s, height 1s;
    
}


.class-skill:hover{
    width: 110px;
}

.skill-title{
    color: #000;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(167, 236, 231, 0.15);
    backdrop-filter: blur(6px);
    border: 2px solid  rgba(167, 236, 231, 0.15);
    width: fit-content;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    margin-top: 1em;
    opacity: 1;
  
}

.skill-title-hidden{
    opacity: 0;
    background-color: rgba(41, 37, 37, 0.15);
    backdrop-filter: blur(6px);
    border: 2px solid  rgba(0, 0, 0, 0.15);
    width: fit-content;
}



.data-base{
   margin-left: 600px;
   padding-top: 50px;
   margin: 0 auto;
}

p{
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 50px;
}



/* ***********MENU FIN ********* */
.open-nav, .close-nav{
    background: transparent;
    border-radius: 0;
    border-color: transparent;
    display: none;
}

.open-nav i, .close-nav i{
    font-size: 20px;
}

.abrir-menu, .cerrar-menu{
    display: none;
}

.nav{
    padding: 50px 30px 0px 30px;
    display: flex;
    justify-content: center;
}


.nav-list {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  display: flex;
  font-weight: 600;
  gap: 1rem;
  list-style-type: none;
}

.nav-list * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav-list li a{
  text-decoration: none;

}

.nav-list span {
  padding: .5em .8em;
  color: rgb(0, 0, 0);
  position: relative;
  text-decoration: none;
  font-size: 20px;

}

.nav-list span:hover {
    border-bottom: 2px solid #2f3233;
}

.nav-list p{
    color:#07a19a;

}

/* ***********MENU FIN ********* */

.item-buttom-proyect{
    margin-left: 1em;
    margin-top: 5em;
}

.item-button-contact{
    margin-left: 10em;
    margin-top: 1em;
}

.title-proyect{
    padding-top: 3em;
    margin-left: 3em;
    font-size: 70px;
}

.hover{
    display: inline-block;
    margin-left: 2em;
}


    .container {
    padding: 2px 16px;
  }

  .container p {
    color: #fdfdfd;
    font-size: 60px;
    font-family: 'Barlow';
  }


form{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    border: 1px solid #00d1c7;
    background-color: rgba(41, 37, 37, 0.15);
    backdrop-filter: blur(6px);
    padding-top: 5em;
    margin: 0 auto;
    width: 38em;
    height: 20em;

  }





.img-min{
  width: 40px;
}



