@media only screen and (max-width : 767px) {


    .contenido{
        width:100%;
        display:flex;
        flex-wrap:nowrap;
        height: 30px;
    
    }

    .inner{
        margin:4px;
        flex:1;
        min-width:100px;
        background: transparent;
        padding:0px;
    }

   
/* ********* INDEX ********* */
    .div-image img{
        width: 300px;
        padding-top: 0px;
        margin-top: 5em;
        padding-left: 15px;
    
    }

    .title-typed{
        position: absolute;
        top: 20em;
        left: 1em;
    
    }

    .p-type{
        color: #fafafa;
        font-size: 28px;
    }

    .span-type{
        color: #00d1c7;
        font-size: 32px;
    
    }
/* 
********** FOOTER ******    */
    .redes{
        color:#ffffff;
        text-align: center;
        margin-top: 38em;
        font-size: 18px;

    }

    .redes-color{
       font-size: 18px;
    }

/******** MENU ********/
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
        margin-top: 1em;
        margin-left: 16em;
        

    }

    .cerrar-menu {
        color: #ececec;
        margin-top: 1em;
        font-size: 15px;
    }
    
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(26, 24, 24, 0.15);
        backdrop-filter: blur(10px);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    

    .nav-list {
        flex-direction: column;
        align-items: end;
        font-weight: 10;
        margin-top: 1em;
    }

    .nav-list li a {
        color: #ecececec;
    }

    .nav-list span {
        padding: 0em .0em;
        font-size: 18px;
      
    }

    .nav-list p{
        font-size:18px;
        margin-bottom: -2em;
    }


    /* ********SKILLS**** */
    .title-mod{
        margin-left: 1em;
        display: flex ;
    }

    .title-mod span{
        font-size: 30px;
        margin-left: 10px;
    }

    .title-mod p{
        font-size: 25px;
        margin-right: 2em;
    }

    .skills{
        padding-left: 0px;
        display: block;
        height: 30px;
        width: 100%;
        flex-wrap:nowrap;
    }


    .content-inner, .content-inner-fr{
    position: absolute;
    display: block;
    left: 1em;
}

    .content-inner-fr{
        left: 1em;
        top: 11em;
    }

    
    .inner-min p{
        font-size: 25px;
        display: block;

    }

    .p-data{
        font-size: 25px;
        margin-top: 8em;
    }
    .class-skill{
    width: 35px;
    padding-right:10px;
   
    margin-top: -33em;
    }

    .class-skill:hover{
        width: 38px;
    }

    .close{
        margin-bottom: 2em;
        font-size: 25px;
    }

    .footer-hz{
        writing-mode: vertical-lr;
        margin-left: 18em;
        margin-top: -30em;
      
    }

    
}