@media (max-width : 767px) 
{
    .contenido{
        width:100%;
        display:flex;
        flex-wrap:nowrap;
        height: 30px;
    
    }

    .inner{
        margin:4px;
        flex:1;
        min-width:100px;
        background: transparent;
        padding:0px;
    } */

   
    /* ********* INDEX ********* */
    .title-typed{
        padding-top: 8em;
    }
    /* 
    ********** FOOTER ******    */
        
    .footer-hz{
        
        margin-top: 45em;
    
    }

    /******** MENU ********/
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
        margin-top: 1em;
        margin-left: 16em;
        

    }

    .cerrar-menu {
        color: #ececec;
        margin-top: 1em;
        font-size: 15px;
    }
    
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(26, 24, 24, 0.15);
        backdrop-filter: blur(10px);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    

    .nav-list {
        flex-direction: column;
        align-items: end;
        font-weight: 10;
        margin-top: 0em;
    }

    .nav-list li a {
        color: #ecececec;
    }

    .nav-list span {
        padding: 0em .0em;
        font-size: 18px;
      
    }

    .nav-list p{
        font-size:18px;
        margin-bottom: -2em;
    }


    /* ********SKILLS**** */
    
    .skills, .proyect{
        padding-top: 15px;
        padding-left: 20px;
    }

    .proyect, .skills{
        height: 30px;
    }

    .title-mod{
        font-size: 15px;
        padding-top: 0em;
        margin-left: 0em;
    }
    
    
    
    .title-mod p{
        color: #07a19a;
        font-size: 30px;

    }

    .title-mod span{
        font-size: 45px;
    }
    
    .content-skill{
        text-align: left;
        padding: 0px;
    }

    .class-skill{
        width: 42px;
        padding-right:0px;
        margin-top: 2em;
     
        
    }
    
    
    .class-skill:hover{
        width: 42px;
    }

    .skill-title{
        font-size: 30px;
        margin-top: 3em;
    }

    

    /******** PROYECT *********** */
    .proyect{
       
        height: 30px;
       
    }

    .effect{
        margin-top: -2em;
    }

    .card {
        width: 25em;
        height: 10em;
        font-size: 13px;
        padding-top: 5px;
        margin-left: 2em;
        margin-bottom: 2em;
        display: block;

    
      }
     
    
      .card:hover {
        box-shadow: none;
        width: 25em;
        height: 10em;
    
      }
    
      .card:hover .img-proyect{
        width: 15em;
        height: 6em;
        margin-left: 18px;
    
      }
    
      .card:hover .title{
        width:0%;
        font-size: 15px;
        margin-top: 10em;
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
      }
    

      .card:hover .img-skill{
        opacity: 1;
    
      } 
    
    
      .card-body{
        width: 23em;
        height: 14em;
        margin: 0 auto;
    
      }

      .img-proyect{
        width: 15em;
        height: 6em;
        margin-bottom: 5em;
        margin-left: 50px;
        transition: all .3s ease;
       
    
    }

    .img-skill{
        width: 1.5em;
        margin-left: 0em;
        opacity: 1;
    }

    .div-skill{
        position: absolute;
        top: 9em;
        left: 1.5em;
        height: 5em;
    }

    .title{
       
        margin-top: 8em;
        opacity: 1;
        padding: 0px 0px 0px 0px;
    }
    

    
}



