
{% extends "base.html" %}

{% block head_content %}
<title>Contact</title>
<nav class="nav">
  <ul class="nav-list">
    <li><a href="{% url "index" %}"><p>01. <<span>HOME</span>></p></a></li>
    <li><a href="{% url "skill" %}"><p>02. <<span>SKILLS</span>></p></a></li>
    <li><a href="{% url "proyect" %}"><p>03. <<span>PROYECT</span>></p></a></li>
  </ul>
  </ul>

</nav>
{% endblock %}

{% block container %}
<main>
    <section class="contact" id="contact">
          <div class="title-mod">
            <p>def<span> &nbsp;CONTACT(<span class="span-contact">name, email, website, message</span>)</span>&nbsp;&nbsp;:</p>
          </div>
        <div class="contenido-right">
                <div class="formulario">
                    <form action="">
                        <input placeholder="Name">
                        <input placeholder="Email">
                        <input placeholder="Website">
                        <textarea placeholder="Message"></textarea>
                        <button class="cta">
                            <span>SEND</span>
                        </button>
                    </form>

     
                    
                </div>
            
        </div>
    </section>
    <p class="redes">
        const<span class="redes-color"> &nbsp;redes</span>&nbsp;  = {
          linkedin:  <i class="fa-brands fa-linkedin"></i> ,<br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          github: <i class="fa-brands fa-github"></i>
        };
</p>s
</main>

<div id='particles-js'></div>

{% endblock %}




