{% extends "base.html" %}
{% load static %}
{% block head_content %}
<title>Home</title>
{% endblock %}

{% block container %}
<main>
  <div class="item" id="inicio">
    <ul class="nav">
      <li><a href="{% url "skill" %}"><p>01. <<span>SKILLS</span>></p></a></li>
      <li><a href="{% url "proyect" %}"><p>02. <<span>PROYECT</span>></p></a></li>
      <li><a href="{% url "contact" %}"><p>03. <<span>CONTACT</span>></p></a></li>
    </ul>
    </ul>

  </div>
 <div class="item-mobile" id="inicio">
            <ul class="nav-mobile">
              <li><a href="{% url "skill" %}"><p>01. <<span>SKILLS</span>></p></a></li>
              <li><a href="{% url "proyect" %}"><p>02. <<span>PROYECT</span>></p></a></li>
              <li><a href="{% url "contact" %}"><p>03. <<span>CONTACT</span>></p></a></li>
            </ul>
            </ul>
        
          </div>
  <section class="contenido" >
      <div class="inner">
          <div class="div-image">
              <img src=" {% static 'img/index2.svg' %} "  alt="index"><br>
              
          </div>
          
      </div>
      <div class="inner">
          <div class="title">
                <span class="typed"></span> 
          </div>

      </div>
  </section>
<p class="redes">
        const<span class="redes-color"> &nbsp;redes</span>&nbsp;  = {
          linkedin:  <i class="fa-brands fa-linkedin"></i> ,<br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          github: <i class="fa-brands fa-github"></i>
        };
</p>
</main> 
<div id='particles-js'></div> 

{% endblock %}